################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Algorithms/v16/ipch/AutoPCH/66a8e7c0779426ce/PUSH_RELABEL.ipch
/.vs/Algorithms/v16/ipch/AutoPCH/3fe5fd718bec9936/TOURNAMENT_TREE.ipch
/.vs/Algorithms/v16/Browse.VC.opendb
/.vs/Algorithms/v16/Browse.VC.db
/.vs/Algorithms/v16/.suo
